{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>HIVseqDB | Minority variants</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
{% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
<div class="row mt-3 pt-3 p-3 border shadow">
    <div class="col-md-12">
        <div class="p-3 border-bottom border-info">
            <h2><i class="fa fa-list" aria-hidden="true">&nbsp</i>Minority HIV-1 Drug Resistance Variants</h2>
        </div>
    </div>
</div>
<div class="row mt-3 pt-3 p-3 border shadow">
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-major-tab" data-toggle="tab" data-target="#pr" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Protease</button>
              <button class="nav-link" id="nav-minor-tab" data-toggle="tab" data-target="#rt" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reverse transcriptase</button>
              <button class="nav-link" id="nav-minor-tab" data-toggle="tab" data-target="#int" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Integrase</button>
            </div>
        </nav>
        <div class="tab-content">
            <div id="pr" class="tab-pane fade show active mt-4">
                <div id="pr-major-drms-plot"></div>
                <div id="pr-minor-drms-plot"></div>
            </div>
            <div id="rt" class="tab-pane fade mt-4">
                <div id="nrti-drms-plot"></div>
                <div id="nnrti-drms-plot"></div>
            </div>
            <div id="int" class="tab-pane fade mt-4">
                <div id="in-major-drms-plot"></div>
                <div id="in-minor-drms-plot"></div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3 pt-3 p-3 border shadow">
    <div class="col-md-12">
    <table id="hivdr" class="table table-striped nowrap">
        <thead>
            <tr>
                <th>Sample</th>
                <th>Gene</th>
                <th>Category</th>
                <th>Surveillance</th>
                <th>Wild type</th>
                <th>Position</th>
                <th>Mutation</th>
                <th>Mutation frequency</th>
                <th>Coverage</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody>
            {% for result in sample_variants %}
            <tr>
                <td><a href="#">{{result.sample}}</a></td>
                <td>{{result.gene}}</td>
                <td>{{result.category}}</td>
                <td>{{result.surveillance}}</td>
                <td>{{result.wildtype}}</td>
                <td>{{result.position}}</td>
                <td>{{result.mutation}}</td>
                <td>{{result.mutation_frequency}}</td>
                <td>{{result.coverage}}</td>
                <td>{{result.project}}</td>
                <!-- <td><a href="{% url 'projectMinorityVariants' result.project %}">{{result.project}}</a></td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <hr>    
</div>
</div>
{% endblock %}

{% block js %}  
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script> 
<script>
    
    pr_majority={{pr_majority|safe}};
    pr_majority_freq={{pr_majority_freq|safe}};
    pr_majority_cov={{pr_majority_cov|safe}};

    Highcharts.chart('pr-major-drms-plot', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Frequency of Major Drug Resistance Mutations  in PR'
        },
        xAxis: {
            categories: pr_majority
        },
        yAxis: {
               min: 0,
               title: {
                  text: 'Mutation frequency and coverage',
                //   align: 'high'
               },
               labels: {
                  overflow: 'justify'
               }
        },
        series: [{
            name: 'Mutation frequency',
            data: pr_majority_freq
        },
        {
            name: 'Coverage',
            data: pr_majority_cov
        }],
        accessibility: {
            enabled: false
        }
    });
  </script>

<script>
    pr_minority={{pr_minority|safe}};
    pr_minority_freq={{pr_minority_freq|safe}};
    pr_minority_cov={{pr_minority_cov|safe}};

    Highcharts.chart('pr-minor-drms-plot', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Frequency of Accessory Drug Resistance Mutations  in PR'
        },
        xAxis: {
            categories: pr_minority
        },
        yAxis: {
               min: 0,
               title: {
                  text: 'Mutation frequency and coverage',
                //   align: 'high'
               },
               labels: {
                  overflow: 'justify'
               }
        },
        series: [{
            name: 'Mutation frequency',
            data: pr_minority_freq
        },
        {
            name: 'Coverage',
            data: pr_minority_cov
        }],
        accessibility: {
            enabled: false
        }
    });
  </script>

<script>
    rt_nrti={{rt_nrti|safe}};
    rt_nrti_freq={{rt_nrti_freq|safe}};
    rt_nrti_cov={{rt_nrti_freq|safe}};

    Highcharts.chart('nrti-drms-plot', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Frequency of NRTI Drug Resistance Mutations RT'
        },
        xAxis: {
            categories: pr_minority
        },
        yAxis: {
               min: 0,
               title: {
                  text: 'Mutation frequency and coverage',
                //   align: 'high'
               },
               labels: {
                  overflow: 'justify'
               }
        },
        series: [{
            name: 'Mutation frequency',
            data: rt_nrti_freq
        },
        {
            name: 'Coverage',
            data: rt_nrti_cov
        }],
        accessibility: {
            enabled: false
        }
    });
  </script>

<script>
    rt_nnrti={{rt_nnrti|safe}};
    rt_nnrti_freq={{rt_nnrti_freq|safe}};
    rt_nnrti_cov={{rt_nnrti_freq|safe}};

    Highcharts.chart('nnrti-drms-plot', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Frequency of NNRTI Drug Resistance Mutations in RT'
        },
        xAxis: {
            categories: rt_nnrti
        },
        yAxis: {
               min: 0,
               title: {
                  text: 'Mutation frequency and coverage',
                //   align: 'high'
               },
               labels: {
                  overflow: 'justify'
               }
        },
        series: [{
            name: 'Mutation frequency',
            data: rt_nnrti_freq
        },
        {
            name: 'Coverage',
            data: rt_nnrti_cov
        }],
        accessibility: {
            enabled: false
        }
    });
  </script>

<script>
    $(document).ready(function() {
      var table = $('#hivdr').DataTable({
         // select: true,
          dom: 'BPrtip',
          
          buttons: [
              'pageLength',
              { extend: 'csv', text: '<i class="fa fa-file-csv" aria-hidden="true"></i> Export as CSV' },
              { extend: 'excel', text: '<i class="fa fa-file-excel" aria-hidden="true"></i> Export as EXCEL' },
              { extend: 'pdf', text: '<i class="fa fa-file-pdf" aria-hidden="true"></i> Export as PDF' },
              { extend: 'print', text: '<i class="fa fa-print" aria-hidden="true"></i> Print' },
          ],
          columnDefs: [
              {
                  searchPanes: {
                      initCollapsed: true,
                      show: true,
                  },
                  targets: [1,2,3,9]
              },
              {
                  searchPanes: {
                      show: false
                  },
                  targets: [4,5,6,7,8]
              }
          ]
  
      });
      table.searchPanes.container().prependTo(table.table().container());
      table.searchPanes.resizePanes();
  });
  </script>
{% endblock %}