{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>HIVseqDB | New HIVDR analysis</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<style>
 label {
    color:black;
    font-weight: bold;
 }
 
 astericks {
  color: red;
 }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
<div class="mt-3 pt-3 p-3 border-bottom border-info">
    <h2><i class="fa fa-play" aria-hidden="true">&nbsp</i>Create New analysis</h2>
</div>
<div class="mt-3 pt-3 border p-4 shadow">
    <form method="POST">
    {{ form.errors }}
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="{{ form.project_ID.id_for_label }}" class="form-label"><astericks>*</astericks> {{ form.project_ID.label }}</label>
        <input name="{{ form.project_ID.html_name }}" type="text" class="form-control" id="{{ form.project_ID.id_for_label }}" placeholder="E.g., PRJDB502" required>
        </div>
        <div class="form-group col-md-6">
            <label for="{{ form.email.id_for_label }}" class="form-label"><astericks>*</astericks> {{ form.email.label }}</label>
            <input name="{{ form.email.html_name }}" type="email" class="form-control" id="{{ form.email.id_for_label }}" placeholder="E.g., alfred@hivseqdb.org" required>
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.description.id_for_label }}" class="form-label"><astericks>*</astericks> {{ form.description.label }}</label>
        <input name="{{ form.description.html_name }}" type="text" class="form-control" id="{{ form.description.id_for_label }}" placeholder="E.g., The Impact of Low-abundance HIV-1 drug resistance variants on treatment outcomes of DTG-based regimens in Uganda." required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
            <label for="{{ form.minimum_Mutation_Frequency.id_for_label }}" class="form-label"><astericks>*</astericks> {{ form.minimum_Mutation_Frequency.label }}</label>
            <input name="{{ form.minimum_Mutation_Frequency.html_name }}" type="text" class="form-control" id="{{ form.minimum_Mutation_Frequency.id_for_label }}" placeholder="Default is 0.01" required>      
        </div>
        <div class="form-group col-md-4">
            <label for="{{ form.minimum_Read_Depth.id_for_label }}" class="form-label"><astericks>*</astericks> {{ form.minimum_Read_Depth.label }}</label>
            <input name="{{ form.minimum_Read_Depth.html_name }}" type="text" class="form-control" id="{{ form.minimum_Read_Depth.id_for_label }}" placeholder="Default is 100" required>     
        </div>
        <div class="form-group col-md-4">
            <label for="{{ form.consensus_Percentage.id_for_label }}" class="form-label"><astericks>*</astericks> {{ form.consensus_Percentage.label }}</label>
            <input name="{{ form.consensus_Percentage.html_name }}" type="text" class="form-control" id="{{ form.consensus_Percentage.id_for_label }}" placeholder="Default is 20" required>      
        </div>
    </div>
        <hr>
        <div class="form-group">
            <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p>
                      <a data-toggle="collapse" href="#collapse1"><label>More analysis parameters&nbsp<i class="fa-solid fa-caret-down"></i></label></a>
                    </p>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="{{ form.error_Rate.id_for_label }}" class="form-label">{{ form.error_Rate.label }}: </label>
                            <input name="{{ form.error_Rate.html_name }}" type="text" class="form-control" id="{{ form.error_Rate.id_for_label }}" placeholder="Default is 0.01" required>      
                        </div>
                        <div class="form-group col-md-4">
                            <label for="{{ form.length_Cutoff.id_for_label }}" class="form-label">{{ form.length_Cutoff.label }}: </label>
                            <input name="{{ form.length_Cutoff.html_name }}" type="text" class="form-control" id="{{ form.length_Cutoff.id_for_label }}" placeholder="Default is 100" required>     
                        </div>
                        <div class="form-group col-md-4">
                            <label for="{{ form.minimum_Allele_Count.id_for_label }}" class="form-label">{{ form.minimum_Allele_Count.label }}: </label>
                            <input name="{{ form.minimum_Allele_Count.html_name }}" type="text" class="form-control" id="{{ form.minimum_Allele_Count.id_for_label }}" placeholder="Default is 20" required>      
                        </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="{{ form.minimum_Variant_Quality.id_for_label }}" class="form-label">{{ form.minimum_Variant_Quality.label }}: </label>
                        <input name="{{ form.minimum_Variant_Quality.html_name }}" type="text" class="form-control" id="{{ form.minimum_Variant_Quality.id_for_label }}" placeholder="Default is 0.01" required>      
                    </div>
                    <div class="form-group col-md-4">
                        <label for="{{ form.score_Cutoff.id_for_label }}" class="form-label">{{ form.score_Cutoff.label }}: </label>
                        <input name="{{ form.score_Cutoff.html_name }}" type="text" class="form-control" id="{{ form.score_Cutoff.id_for_label }}" placeholder="Default is 100" required>     
                    </div>
                    <div class="form-group col-md-4">
                        <label for="{{ form.target_Coverage.id_for_label }}" class="form-label">{{ form.target_Coverage.label }}: </label>
                        <input name="{{ form.target_Coverage.html_name }}" type="text" class="form-control" id="{{ form.target_Coverage.id_for_label }}" placeholder="Default is 20" required>      
                    </div>
                    <div class="form-group col-md-10">
                      <label for="{{ form.mutation_Database.id_for_label }}" class="form-label">{{ form.mutation_Database.label }}: </label>
                      <input name="{{ form.mutation_Database.html_name }}" type="text" class="form-control" id="{{ form.mutation_Database.id_for_label }}" placeholder="HIVDB 9.2" required>      
                  </div>
                </div>
              </div>
        </div>
        <hr>
      <button type="submit" class="btn btn-success">Start analysis</button>
      <button type="reset" class="btn btn-danger">Cancel</button>
    </form>
</div>
</div>
{% endblock %}
